
  <div class="login">
    <h1>Login to Web App</h1>
    <form method="POST" action="/login">
      <p><input type="text" name="email" value="" placeholder="Username or Email"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p><br>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
    <div id="tryAgain">
      
    </div>
    <a href="register">Register</a>
  </div>
  <footer class="style_footer__gbSax "><h4 class="">Made with ❤️ by <a class="style_a__2TR0l" href="https://delta.nitt.edu/" target="_blank" rel="noopener noreferrer">Delta Force</a> </h4></footer>
