<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<link href="/assets/style.css" rel="stylesheet" type="text/css">-->
        <title>DELTA Register</title>
</head>
<body>
  <div class="login">
    <h1>Register to Web App</h1>
    <form method="POST" action="/register">
      <p><input type="text" name="name" value="" placeholder="name"></p>
      <p><input type="text" name="roll" value="" placeholder="roll(Only numbers)"></p>
      <p><input type="text" name="email" value="" placeholder="Username or Email"></p>
      <p><input type="password" name="password" value="" placeholder="Password"></p><br>
      <p class="submit"><input type="submit" name="commit" value="Login"></p>
    </form>
  </div>
  <a href="login">Back to login page</a>
  <footer class="style_footer__gbSax "><h4 class="">Made with ❤️ by <a class="style_a__2TR0l" href="https://delta.nitt.edu/" target="_blank" rel="noopener noreferrer">Delta Force</a> </h4></footer>
</body>
</html>